<!DOCTYPE html>
<html class="no-js" lang="en">

{% include nav.html %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saish Sali</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link href="portfolio/css/bootstrap.min.css" rel="stylesheet">
    <link href="portfolio/css/styles.css" rel="stylesheet">
</head>

<body>
    <div id="mobile-menu-open" class="shadow-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <!-- End #mobile-menu-toggle -->
    <header class="sticky">
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#experience">Experience</a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </header>
    <!-- End header -->

    <div id="lead">
        <div id="lead-content">
            <h1>Saish Sali</h1>
            <h2>Graduate Student | Software Engineer</h2>
        </div>
        <!-- End #lead-content -->

        <div id="lead-overlay"></div>

        <div id="lead-down">
            <span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </div>
        <!-- End #lead-down -->
    </div>
    <!-- End #lead -->

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">About Me</h2>
                </div>
                <div class="col-md-8">
                    <p>
                        Greetings! I am a Masters candidate in the Department of Computer Science at Stony Brook University, USA. For the past 2 years, I invested considerable time solving some of India’s most challenging healthcare problems at Practo, Asia's largest health tech startup. As a software developer, I was working on creating India’s first online consultation marketplace, Practo Consult and solved critical problems such as classifying and assigning health queries to doctors to match demand-supply gaps, providing relevant data using information retrieval techniques like Elasticsearch and creating seamless chat experiences using Firebase. I dream to employ my technical knowledge in the betterment of our society and all my academic and professional endeavors in the past have been in support of realising that dream.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End #about -->

    <div id="experience" class="background-alt">
        <h2 class="heading">Experience</h2>
        <div id="experience-timeline">
            <div data-date="April 2016 – June 2017">
                <h3>Practo Technologies</h3>
                <h4>Senior Software Engineer</h4>
                <ul>
                    <li>
                        Developed and implemented direct consultation platform in short span of time.
                    </li>
                    <li>
                        Built server side architecture to integrate google firebase realtime database with Practo consult.
                    </li>
                    <li>
                        Developed audio call consultation feature for doctor-patient communication.
                    </li>
                </ul>
            </div>

            <div data-date="July 2015 – March 2016">
                <h3>Practo Technologies</h3>
                <h4>Software Engineer</h4>
                <ul>
                    <li>
                        Implemented algorithm to assign health queries to doctors for matching demand supply in online consultation based on doctor’s availability and location.
                    </li>
                    <li>
                        Revamped and implemented scalable search architecture for Practo Consult using Elasticsearch, decreasing search response time by 80% and improving search relevance. Wrote algorithm for similar questions.
                    </li>
                    <li>
                        Backend implementation of various health campaigns like AskPracto, World Health Day, Women’s Day and World Cancer Day.
                    </li>
                    <li>
                        SEO improvements for Practo Consult (Sitemap, RSS feed).
                    </li>
                </ul>
            </div>

            <div data-date="July 2014 - March 2015">
                <h3>Dreamz Group</h3>
                <h4>Project Intern</h4>
                <p>
                    Devised and simulated working of networking protocols UPnP and mDNS on software emulated network stack snabbswitch using Lua and C.
                </p>
            </div>
        </div>
    </div>
    <!-- End #experience -->

    <div id="education">
        <h2 class="heading">Education</h2>
        <div class="education-block">
            <h3>Stony Brook University</h3>
            <span class="education-date">August 2017 - May 2019</span>
            <h4>Masters in Computer Science</h4>
            <ul>
                <li>
                    Coursework : Operating systems, Analysis of Algorithms, Network Security, Computational Biology
                </li>
            </ul>
        </div>

        <div class="education-block">
            <h3>Pune Institute of Computer Technology (PICT)</h3>
            <span class="education-date">August 2011 - May 2015</span>
            <h4>Bachelor of Engineering in Computer Science</h4>
            <ul>
                <li>
                    Regular participant and winner of several intercollegiate programming contests.
                </li>
                <li>
                    Technical Advisor at PICT Association for Computing Machinery (ACM) Student Chapter (PASC).
                </li>
            </ul>
        </div>
        <!-- End .education-block -->

        <div class="education-block">
            <h3>Kendriya Vidyalaya 2, Pune</h3>
            <span class="education-date">April 2000 - March 2011</span>
            <h4>Primary and secondary education</h4>
            <ul>
                <li>
                    Secured 1st rank in high school in All India Senior School Certificate Examination (AISSCE).
                </li>
                <li>
                    Secured 1st rank in school in 8th and 10th National Cyber Olympiad.
                </li>
                <li>
                    Secured 1st rank in school in 10th National Science Olympiad.
                </li>
            </ul>
        </div>
    </div>
    <!-- End #education -->

    <div id="projects" class="background-alt">
        <h2 class="heading">Projects</h2>
        <div class="container">
            <div class="row">
                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="images/project3.jpg" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3 a>SBUsh</h3>
                        <p>
                            Developed a shell in C which supports changing current directory, executing binaries interactively, executing scripts, background processes, pipes, PATH and PS1 variables.
                        </p>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->

                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="images/project1.jpg" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>Passistant</h3>
                        <p>
                            Developed a health assistant chat bot as a part of Practo health app, which understands the intent of the conversation and replies back appropriately. Based on the intent of the health query asked by the user, the bot replies with appropriate health articles, health questions and answers and doctors of appropriate speciality in the nearby locality. The bot was developed as a part of hackathon (Practo Sandbox 5) using api.ai natural language understanding platform, flask and android.
                        </p>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->

                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="images/project2.jpg" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>INC 14 Android Application</h3>
                        <p>
                            Impetus & Concepts(INC) is an annual national level technical competition organised by PICT. This application provides a hassle-free method for contestants to participate in the various events held at the competition.
                        </p>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->
            </div>
        </div>
    </div>
    <!-- End #projects -->

    <div id="skills">
        <h2 class="heading">Skills</h2>
        <ul>
            <li>C</li>
            <li>C++</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>REST</li>
            <li>Python</li>
            <li>Ruby</li>
            <li>Symfony</li>
            <li>Firebase</li>
            <li>Flask</li>
            <li>Git</li>
            <li>Ruby on Rails</li>
            <li>Elasticsearch</li>
            <li>Memcache</li>
            <li>Nginx</li>
            <li>Java</li>
            <li>MVC</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Lua</li>
            <li>Assembly</li>
        </ul>
    </div>
    <!-- End #skills -->

    <div id="contact">
        <h2>Get in Touch</h2>
        <div id="contact-form">
            <form method="POST" action="https://formspree.io/saish2009@gmail.com">
                <input type="hidden" name="_subject" value="Contact request from personal website" />
                <input type="email" name="_replyto" placeholder="Your email" required>
                <textarea name="message" placeholder="Your message" required></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
        <!-- End #contact-form -->
    </div>
    <!-- End #contact -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Copyright &copy; 2017 Saish Sali
                    </p>
                </div>
                <div class="col-sm-2 top">
                    <span id="to-top">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-sm-5 social">
                    <ul>
                        <li>
                            <a href="mailto:saish2009@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/saishsali" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/saishsali" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/saish2009" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/scripts.min.js"></script>
</body>

</html>
